@font-face {
  font-family: 'Press Start 2p';
}

body {
    background-color: black;
    overflow: hidden !important;
  padding:0;
  margin:0;
    font-size: 30pt;
    font-family: 'Press Start 2p';
}

#story {
    display: none;
}

.intro {
    background-image: url('https://i.stack.imgur.com/kx8MT.gif');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-btn{
  font-size: 30pt;
  font-family: 'Press Start 2p';
  text-align: center;
	display: inline-block;
	margin:5px;
  font-weight: bold;
  padding: 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;
}

.start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}



.bg_move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: repeating-radial-gradient(circle at 100% 100%, rgba(255, 190, 11, 0.5) 4%, rgba(255, 190, 11, 0.5) 8%, rgba(251, 86, 7, 0.5) 8%, rgba(251, 86, 7, 0.5) 12%, rgba(255, 0, 110, 0.5) 12%, rgba(255, 0, 110, 0.5) 16%, rgba(131, 56, 236, 0.5) 16%, rgba(131, 56, 236, 0.8) 20%, rgba(58, 134, 255, 0.5) 20%, rgba(58, 134, 255, 0.5) 24%), repeating-radial-gradient(circle at 0% 100%, rgba(255, 190, 11, 0.7) 4%, rgba(255, 190, 11, 0.9) 8%, rgba(251, 86, 7, 0.7) 8%, rgba(251, 86, 7, 0.9) 12%, rgba(255, 0, 110, 0.7) 12%, rgba(255, 0, 110, 0.9) 16%, rgba(131, 56, 236, 0.8) 16%, rgba(131, 56, 236, 0.8) 20%, rgba(58, 134, 255, 0.8) 20%, rgba(58, 134, 255, 0.8) 24%);
  background-size: 250px 250px;
  background-position: 0 0;
  -webkit-animation: stripes 3s linear infinite;
          animation: stripes 3s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.bg_move h1 {
  font-size: 10rem;
  font-family: sans-serif;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 6px;
  }
}

@-webkit-keyframes stripes {
  100% {
    background-position: 250px 0, 250px 0, 100px 0;
  }
}

@keyframes stripes {
  100% {
    background-position: 250px 0, 250px 0, 100px 0;
  }
}


.box {
	display: flex;
    margin: 10px;
    max-width: 100vw;
    overflow: hidden;
}

.box .inner {
	width: 500px;
	height: 200px;
	line-height: 200px;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: indianred;
	color: darkred;
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: lightcoral;
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}